body{
    background: #222;
    color: #fff;
    font-family: sans-serif;
    text-align: center;
    padding: 20px;
}
input, button{
    padding: 8px;
    font-size: 1em;
    margin: 5px;
    border-radius: 20px;
}
#result{
    margin-top: 20px;
    border: 1px solid #555;
    border-radius: 5px;
    background: #333;
}